*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: rgb(0, 0, 0);
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/Slick.JPEG);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 20px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

#container {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 5px;
}

#container div{
    align-items: center;

}

#container a {
    position: relative;
    background: white;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    height: 50px;
    top: 10px;
    font-size: 0.8em;
    letter-spacing: 0.01em;
    font-weight: 400;
    padding: 6px 20px;
    transition: 0.5s;
}
#container a:hover{
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}
#container a:before{
    content: '';
    position: absolute;
    inset: 2px;
    background: rgb(0, 0, 0);
}
#container a span{
    position: relative;
    z-index: 1;
}
#container a i{
    position: absolute;
    inset: 0;
    display: block;
}
#container a i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 20px;
    height: 4px;
    background: rgb(0, 0, 0);
    transform: translateX(-80%) skewX(325deg);
    transition: 0.5s;
}   

#container a:hover i::before{
    width: 20px;
    left: 20%;
}
#container a i::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 20px;
    height: 4px;
    background: rgb(0, 0, 0);
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}   

#container a:hover i::after{
    width: 20px;
    left: 80%;
}
 
.header-text{
    margin-top: 20%;
    font-size: 30px;
    text-align: right;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    text-align: right;
}

.header-text h1 span{
    color: gold;

}
/*----------about----------*/

#about{
    padding: 10px 0px;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: gold;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: gold;
    font-size: 14px;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*-----------services----------*/

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
   

}

.services-list div{
    content: '';
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    background: linear-gradient(235deg, gold, black);
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: azure;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: gold;
    transform: translateY(-10px);
    color: black;
    
}



/*-------portfolio-------*/

#portfolio{
    padding: 50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
} 

.work img{
    height: 400px;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0px;
    display: block;
    background: linear-gradient(rgba(0,0,0,0.1), black);
    border-radius: 10px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: gold;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;

}

.btn{
    display: block;
    margin: 5px auto;
    width: fit-content;
    border: 1px solid rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}

.btn:hover{
    background: gold;
    color: black;

}
    
/*-------footer------*/

.footer {
    width: 100%;
    border-top: 2px solid white;
}

.socialicons {
    display: flex;
    justify-content: center;
    text-align: center;

}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 42px;
    margin: 20px;
    border-radius: 50%;
    border: 2px solid;
    cursor: pointer;
    box-shadow: 0 0 35px;
}    

.socialicons a:hover{
    background: black;
    color: gold;
    box-shadow: 0 0 35px gold;
}

.copyright{
    position: relative;
    text-align: center;
    padding-bottom: 15px;
    color: white;
}

.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/Slick2.JPEG);
    }
    .header-text{
        font-size: 20px;
    }
    .header-text h1{
        font-size: 35px;
    }
    #container a {
        font-size: 0.5em;
        padding: 5px 15px;
    }
}



